/* DEFAULT REACT SETTINGS */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* MAIN NAV */

.mainNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid red 2px;
}

h1.eventrLogo {
  margin-left: 30px;
  color: green;
}

nav {
  margin-right: 30px;
}

nav a {
  margin: 0 30px;
}