.registerForm {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 350px;
    margin: 75px auto;
    background-color: rgba(53, 53, 53, 0.464);
    box-shadow: 1px 1px 9px black;
}

.switchLinks {
    display: flex;
    justify-content: space-evenly;
    
}

.switchLinks h2 {
    color: white;
}

h3 {
    color: purple;
}

.registerForm form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}