.eventStarter {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 50px auto;
}

.selectEvent {
    display: flex;
    width: 95%;
    margin-top: 30px;
    justify-content: space-between;
}

.eventType {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 125px;
    font-size: 2em;
    color: blueviolet;
}

.textwrapper { 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 60px;
    border-radius: 15px;
}
.eventStarter h2 {
    font-size: 2.1em;
    color: whitesmoke;
    text-shadow:
		-1px -1px 0 rgb(75, 0, 62),
		1px -1px 0 rgb(75, 0, 62),
		-1px 1px 0 rgb(75, 0, 62),
        1px 1px 0 rgb(75, 0, 62)
}

.stepsBlock {
    margin: 75px auto;
    width: 800px;
    background-color: lightcoral;
    border: solid lightseagreen 5px;
}

.position-absolute {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto
}
